.modal-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 5001;

    .modal-btn-wrapper {
        display: flex;
        justify-content: space-around;
    }
}